[Unit]
Description=Run Applications
After=wayland-layer-manager.service
Requires=wayland-layer-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/run-apps
Environment="XDG_RUNTIME_DIR=/run/user/0"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
