[Unit]
Description=Head Unit Service
After=wayland-layer-manager.service
BindsTo=wayland-layer-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/head-unit
Environment="XDG_RUNTIME_DIR=/run/user/0"
Environment="QT_IVI_SURFACE_ID=1000"
Environment="QT_QPA_PLATFORM=wayland"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
